<div class="main">
	<div class="flags">
		<div class="flag" name="TLB" bit="8"></div>
		<div class="flag" name="SV" bit="9"></div>

		<div class="flag" name="IE" bit="4"></div>

		<div class="flag" name="C" bit="0"></div>
		<div class="flag" name="Z" bit="1"></div>
		<div class="flag" name="V" bit="2"></div>
		<div class="flag" name="N" bit="3"></div>
	</div>

	<div class="screen">
		<div class="crop">
			<canvas width="512" height="212"></canvas>
		</div>
	</div>

	<div class="sidebar">
		<div class="registers">
			<div class="register" name="MSR"></div>
			<div class="register" name="state"></div>

			<% for (var i = 0; i < 8; i++) { %>
				<div class="register" name="R<%= i %>"></div>
				<div class="register" name="A<%= i %>"></div>
 			<% } %>
		</div>

		<div class="microcode">
			<% microcode_fields.forEach(function (field) { %>
				<div class="field" name="<%= field %>"></div>
			<% }); %>
		</div>
	</div>

	<div class="controls">
		<button action="reset">Reset</button>
		<button action="step">Step</button>

		<div class="code"></div>
	</div>
</div>
