<div class="main">
	<div class="screen">
		<canvas width="512" height="212"></canvas>
	</div>

	<div class="registers">
		<div class="register" name="MDR" value="0000"></div>
		<div class="register" name="MSR" value="0000"></div>
		<div class="register" name="R0" value="0000"></div>
		<div class="register" name="R1" value="0000"></div>
		<div class="register" name="R2" value="0000"></div>
		<div class="register" name="R3" value="0000"></div>
		<div class="register" name="R4" value="0000"></div>
		<div class="register" name="R5" value="0000"></div>


		<div class="register" name="A0" value="000000"></div>
		<div class="register" name="A1" value="000000"></div>
		<div class="register" name="A2" value="000000"></div>
		<div class="register" name="A3" value="000000"></div>
	</div>
</div>
