.main {
	display: block;
	font-family: monospace;
	width: 816px;
	margin: 10px auto;
}

.screen {
	display: inline-block;

	padding: 7px;

	border: 1px solid black;
	background: #ccc;
}

.crop {
	width: 512px;
	height: 424px;
	overflow: hidden;
}

.screen canvas {
	width: 200%;
	height: 100%;
	background: black;
}

.sidebar {
	width: 280px;
	display: inline-block;
	vertical-align: top
}

/* Register junk */
.registers {
	display: block;
	box-sizing: border-box;

	vertical-align: top;
	padding: 8px;

	text-align: left;
	border: 1px solid black;
	margin-bottom: 10px;
}

.register {
	display: inline-block;
	padding: 0 5px;
}

.register:before {
	display: inline-block;
	content: attr(name);
	font-weight: bold;
	width: 3em;
	text-align: left;
	padding: 0;
	margin: 0;
}

.register:after {
	display: inline-block;
	content: attr(value);
	width: 6em;
	text-align: right;
	padding: 0;
	margin: 0;
}

.microcode {
	display: block;
	box-sizing: border-box;
	border: 1px solid black;
	text-align: center;
	padding: 10px 0;
}

.microcode .field {
	display: block;
}

.microcode .field:before {
	display: inline-block;
	content: attr(name);
	font-weight: bold;
	width: 10em;
	text-align: left;
	padding: 0;
	margin: 0;
}

.microcode .field:after {
	display: inline-block;
	content: attr(value);
	width: 6em;
	text-align: right;
	padding: 0;
	margin: 0;
}

.flags {
	display: block;
	text-align: right;
	margin-bottom: 10px;
	border: 1px solid black;
}

.flags .flag {
	display: inline-block;
	margin-right: 1em;
}

.flags .flag:before {
	display: inline-block;
	content: attr(name);
}

.flags .flag:after {
	display: inline-block;
	content: ' ';
	width: 1em;
}

.flags .flag.checked:after {
	content: "\2713";
}

.controls {
	display: block;
	text-align: left;
	border: 1px solid black;
	margin: 10px 0;
}

.code {
	display: inline-block;
	float: right;
	margin-top: 2px;
	margin-right: 2px;
}